<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
          <img src="./assets/images/freshcart-logo.svg" alt="">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
      
          <ul class="navbar-nav ms-auto mt-2 d-flex justify-content-center align-items-center gap-3 mt-lg-0">
            

              <div>
                  <i class="fa fa-facebook"></i>
              </div>
              <div>
                  <i class="fa fa-instagram"></i>
              </div>
              <div>
                  <i class="fa fa-twitter"></i>
              </div>
              <div>
                  <i class="fa fa-linkedin"></i>
              </div>
              <div>
                  <i class="fa fa-whatsapp"></i>
              </div>
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/login" aria-current="page">login <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/register" aria-current="page">register <span class="visually-hidden">(current)</span></a>
              </li>
            
         
          </ul>
       
      </div>
</div>
</nav>
