<section class="py-4 container">
   <div class="row g-0 ">
    <div class="col-md-9">
       
        <owl-carousel-o [options]="x">
          <ng-template carouselSlide>

            <img height="400"  class="w-100" src="./assets/images/main-slider-1.jpeg" alt="">
          </ng-template>  
          <ng-template carouselSlide>

            <img height="400" class="w-100"  src="./assets/images/main-slider-2.jpeg" alt="">
          </ng-template>  
          <ng-template carouselSlide>

            <img height="400"  class="w-100" src="./assets/images/main-slider-3.jpeg" alt="">
          </ng-template>  
         
        </owl-carousel-o>
        
    </div>
    <div class="col-md-3">

        <img  class="w-100" height="200"  src="./assets/images/slide-1.jpeg" alt="">
        <img class="w-100"  height="200" src="./assets/images/slide-2.jpeg" alt="">
    </div>
   </div>
    
</section>